body {
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.delete-cell {
    text-align: center;
}

.delete-button {
    padding: 6px 10px;
    background-color: #ff4136;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e6281c;
}